/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
	weight:100%;
    font-family: Arial, sans-serif;
}

.container {
	
	display: flex;;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

main{
    flex: 1; /* Takes up the remaining space */
    padding: 10px;
    overflow-y: auto; /* Allows scrolling if content overflows */
}


